* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(242, 228, 220, 0.1),rgba(242, 228, 220, 0.1)), url("../img/samuel-zeller-722382-unsplash.jpg");
}

input[name="race-p1"], input[name="race-p2"] {
    display:  none;
}

label {
    cursor: pointer;
}

input {
    border-radius: 10px;
    padding: 0;
    border: none;
    padding: 0.4rem;
}

input:focus {
    outline: none;
}

.human, .undead {
    display: inline-block;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.human:hover, .undead:hover {
    background-color:rgba(106, 55, 113, 0.61);
}

.undead {
    background-image: url("../icons/undead/GrimReaperBlack.svg");
    background-color:rgba(228, 215, 196, 0.56);
    background-size: 70%;
}

.human {
    background-image: url("../icons/human/anime.svg");
    background-color:rgba(228, 215, 196, 0.56);
    background-size: 50%;
}

#p2-undead:checked + label,
#p1-undead:checked + label {
    background-image: url("../icons/undead/reaper.svg");
    background-color:rgba(106, 55, 113, 0.61);
}

#p2-human:checked + label,
#p1-human:checked + label {
    background-image: url("../icons/human/knight.svg");
    background-color:rgba(106, 55, 113, 0.61);
    background-size: 40%;
}


.init-window {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url("../img/dark-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.init-window .form-init {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
}

.form-init::before,
.form-init::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.form-init::before {
    left: 0;
    top: 0;
    background-color: rgba(73, 7, 62, 0.2);
}

.form-init::after {
 right: 0;
 top: 0;
 background-color: rgba(253, 155, 72, 0.08);
}

.player-wrapper {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.start-game,
.tour-limit,
.map-size-options,
.player-wrapper,
.options-wrapper,
.start-game-wrapper {
    z-index: 2;
}
.map-size-options {
    width: 100%;
    text-align: center;
}
.options-inner {
    padding: 2rem;
    background-color: rgba(54, 13, 62, 0.9);
    border-radius: 10px;
}
.sub-title {
    font-weight: bold;
    font-size: 21px;
}
.p1-options,
.p2-options {
    padding: 2rem;
    background-color: rgba(0,0,0,0.7);
}
.p1-options label:first-child,
.tour-limit label{
    margin-top: 16px;
    display: block;
}
.turn-limit-input,
.player-name-input {
    display: block;
    margin-top: 16px;
}
.start-game-wrapper {
    text-align: center;
    width: 100%;
}
.options-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    justify-content: space-around;
    align-items: center;
}

.start-game {
    display: inline-block;
    background-color: rgba(54, 13, 62, 0.9);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.4s;
}
.start-game:hover {
    background-color: rgba(228, 215, 196, 0.9);
    color: black;
}

.container {
    height: 100vh;
    /* background-color: rgb(25, 14, 51); */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.player {
    height: 10%;
    border: 2px solid #000;
    background: #736656;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.cards-wrapper  {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 100%;
    align-items: center;
}

.card {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 0 5px;
    position: relative;  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    border-radius: 50%;
}

.active {
    background: #732222;
    opacity: 1;
}

.name-wrapper {
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.name-wrapper .player-name {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.map {
    height: 80%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.map-field {
    margin: 0.5%;
    height: 14%;
    background: url("../img/gray-1468994_640.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}


.cards-holder {
    position: relative;
    width: 150px;
    margin-left: 2rem;
}

.cards-holder .card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mask-card-holder {
    height: 100%;
    background: url("../img/card.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.card:hover {
    cursor: pointer;
}

.map-field .card {
    width: 90%;
    height: 90%;
    margin: auto;
}

.card-P1 {
    background-color: linear-gradient(rgba(5, 10, 20, 0.9),rgba(73, 7, 62, 0.3));
}

.undead-card-P1 {
    background-color: linear-gradient(rgba(5, 10, 20, 0.9),rgba(73, 7, 62, 0.3));
}

.undead-card-P1:hover {
    background-color: rgba(230, 255, 8, 0.822);
}

.undead-card-P1 span {
    background-color: rgba(79, 29, 218, 0.822);
}

.human-card-P1 {
    background-color: linear-gradient(rgba(5, 10, 20, 0.9),rgba(73, 7, 62, 0.3));
}

.human-card-P1 span {
    background-color: rgba(0, 0, 0, 0.3);
}

.human-card-P1:hover {
    background-color: rgba(230, 255, 8, 0.822);
}

.card-P2 {
    background-color: rgba(255, 69, 69, 0.64);
}

.undead-card-P2 {
    background-color: rgba(92, 225, 255, 0.68);
}

.undead-card-P2:hover {
    background-color: rgba(255, 69, 69, 0.64);
}

.undead-card-P2 span {
    background-color: rgba(158, 31, 147, 0.822);
}

.human-card-P2 {
    background-color: rgba(255, 69, 69, 0.64);
}

.human-card-P2:hover {
    background-color: rgba(11, 206, 255, 0.822);
}

.human-card-P2 span {   
    background-color: rgba(0, 140, 255, 0.822);
}

.card span {
    position: absolute;
    user-select:none;
    width: 14px;
    height: 14px;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

.card span:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card span:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.card span:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card span:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.next-turn {
   position: absolute;
   right: 1%;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   outline: none;
   display: inline-block;
   background-color: rgba(54, 13, 62, 0.9);
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
   padding: 1rem;
   transition: all 0.4s;
   border-radius: 10px;
   z-index: 3;
}
.next-turn:hover {
    background-color: rgba(228, 215, 196, 0.9);
    color: black;
}

.hold {
    border: solid #ccc 4px;
}

.invisible {
    display: none;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.allow-drop-1 {
    background: rgba(206, 34, 171, 0.4);
}

.allow-drop-2 {
    background: rgba(255, 69, 69, 0.4);
}

.allow-drop-1.hovered {
    background: rgba(206, 34, 171, 0.8);
}
.allow-drop-2.hovered {
    background: rgba(255, 69, 69, 0.84);
}

.info-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.info-box .counter {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}


.end-game-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.end-game-info .text-wrapper h3 {
    font-size: 32px;
} 
.end-game-info .text-wrapper p {
    font-size: 22px;
    font-weight: bold;
} 
.end-game-info .text-wrapper a {
    display: inline-block;
    background-color: rgba(54, 13, 62, 0.9);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.4s;
    border-radius: 10px;
    text-decoration: none;
}
.end-game-info .text-wrapper a:hover {
    background-color: rgba(228, 215, 196, 0.9);
    color: black;
} 

/* Ikony kart */

.reaper {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(73, 7, 62, 0.3)),url("../icons/undead/reaper.svg");
}

.brain-zombie {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(100, 18, 80, 0.3)),url("../icons/undead/brain-zombie.svg");
}

.crypt-archer {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(73, 7, 62, 0.3)),url("../icons/undead/Crypt-Archer.svg");
}

.grim-reaper {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(73, 7, 62, 0.3)),url("../icons/undead/Grim_Reaper.svg");
}

.grim-reaper-red {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(73, 7, 62, 0.3)), url("../icons/undead/grim-reaper.svg");
}

.witch {
    background-image: linear-gradient(rgba(5, 10, 20, 0.7),rgba(73, 7, 62, 0.3)),url("../icons/undead/Witch.svg");
}

.henry {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/henry.svg");
}

.cleric {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/kleryk.svg");
}

.knight {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/knight.svg");
}

.mermai {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/mermai.svg");
}

.ranger {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/Ranger-Armor.svg");
}

.space-police {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/spacePolice.svg");
}

.sword {
    background-image: linear-gradient(rgba(82, 92, 235, 0.3),rgba(47, 16, 41, 0.6)),url("../icons/human/sword.svg");
}
